/* element */
p{
    color: #852128;
    font-size: 60px; 
    color: lawngreen;
}

/* class */

.parrafo{
    color: aquamarine;
    background-color: beige;
}

/* id */

#texto{
    color: black;
    font-size: 30px;
}