*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: aquamarine;
    height: 10vh;
}

main {
    background-color: royalblue;
    height: 80vh;
    width: 100%; 

    display: inline-block;
}

main .content__box {
    display: inline-block;
    background-color: olivedrab;
    height: 80vh;
    width: 20vw;
}

main .content__text {
    display: inline-block;
    background-color: palevioletred;
    height: 80vh;
    width: 80vw;
}


footer {
    height: 10vh;
    background-color: palegreen;
}